<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        <% if (is_home()) {
            %>/*config*/
            <%
        }
        else if (is_post()) {
            %><% if (page["header-img"]) {
                %>background-image: url('<%= page["header-img"] %>');
                <%
            }
            %>background-color: #000;
            /*post*/
            <%
        }
        else {
            %>/*page*/
            <%
        }
        %>
    }

    .navbar-custom .navbar-brand {
        <% if (is_home()) {
            %>color: #000;
            /*config*/
            <%
        }
        else if (is_post()) {
            %>color: #fff;
            /*post*/
            <%
        }
        else {
            %>color: #000;
            /*page*/
            <%
        }
        %>
    }

    .navbar-custom .navbar-subtitle {
        <% if(is_post()) {
            %>display: none;
            <%
        }
        %>
    }

    @media only screen and (min-width: 768px) {
        .navbar-custom .nav li a {
            <% if(is_post()) {
                %>color: #fff;
                <%
            }
            %>
        }
    }
</style>
<% if(page.icon) { %>
    <img style="display: block;height:0;width:0;" src=<%= page.icon %>  />
<% } %>

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- 文章 -->
                <% if (is_post()) { %>
                    <div class="post-heading">
                        <h1>
                            <%= page.title %>
                        </h1>
                        <h2 class="subheading">
                            <%= page.describe || "" %>
                        </h2>
                        <p class="subauthor">
                            Posted by 
                            <a href="<%= page["author-zone"] || config["author-zone"] %>">
                                <%= page.author || config.author %>
                            </a> on <%- date(page.date, "YYYY-MM-DD") %>
                        </p>
                    </div>
                    <!-- 非文章 -->
                    <% } else { %>
                        <div class="site-heading">
                            <!-- <h1><%= page.title || config.title %></h1> -->
                            <!--<hr class="small">-->
                            <!-- <span class="subheading"><%= page.description || config.subtitle || "" %></span> -->
                        </div>
                        <% } %>

            </div>
        </div>
    </div>
</header>